---
export interface Props {
  title: string;
  body: string;
  date: string;
  href: string;
}

const { href, title, date } = Astro.props;
---

<li class="w-full">
  <div class="flex justify-between gap-8 items-center my-2 text-neutral-200">
    <a href={href}>
      <h2 class="border-b border-neutral-600 mb-0">
        {title}
      </h2>
    </a>
    <span class="text-xs text-right flex items-center whitespace-break-spaces md:whitespace-nowrap">{date}</span>
  </div>
</li>
