---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-neutral-950 min-h-screen ">
		<slot />
        <footer class="max-w-[60ch] md:mx-auto border-t border-neutral-500 text-neutral-300 p-4 flex justify-between items-center mx-2">
            <a href="https://jkdelara.com">Jason-Kyle De Lara</a>
            <div class="text-xs flex gap-2">
                <a href="https://github.com/xjkbro">GitHub</a>
                <a href="https://linkedin.com/in/jkdelara">LinkedIn</a>
                <a href="https://youtube.com/@xjustkiddingbro">YouTube</a>
            </div>
        </footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
